<!--
取得元：https://www.bootply.com/xuv9LtMjdH
-->

<!--
<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-4 col-sm-6 col-xs-6 ">
        <div class="container-fluid bg-info">
            <div class="card">
            <%= link_to profile_img(user), user_path(user),:class => "card-img-top", :alt => "Card image cap" %>

              <div class="card-block">
                <h4 class="card-title"><%= user.email %></h4>
                <% if user.id != current_user.id %>
                    <div class="item">
                      <%= link_to user.name, user %>
                      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
                    </div>
                    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
                <% end %>
              </div>
          </div>
        </div>
      </div>
 <% end %>
</div>
<%= link_to "トップ画面にもどる", root_path %>
-->

<div class="navbar-wrapper">
	    <div id="home" class="header">
	    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        	<div class="carousel-inner">
	            <div class="item active">
			    	<div class="container">
						<div id="slide1" class="masonry"><br>

							<% @users.each do |user| %>
						    <div class="post-box col-lg-4 col-md-4 col-sm-4">
									<%= link_to profile_img(user), user_path(user),:class => "card-img-top", :alt => "Card image cap"%>

									<div class="card-block">
		                <h4 class="card-title"><%= user.email %></h4>
		                <% if user.id != current_user.id %>
		                    <div class="item">
		                      <%= link_to user.name, user %>
		                      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
		                    </div>
		                    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
		                <% end %>
		              </div>
						    </div>
              <% end %>
						</div>
					</div>


					<!--
				</div>
				<div class="item">
					<div class="container">
						<div id="slide2" class="masonry">
					        <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
					        	<p>ああああ</p>
					        </div>
					        <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
					        	<p>いいいい</p>
					        </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
                  <p>うううう</p>
  					    </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
                  <p>ええええ</p>
						    </div>
						    <div class="post-box2 col-lg-4 col-md-4 col-sm-4">
                  <p>おおおお</p>
						    </div>
						</div>
					</div>
				</div>

				<div class="item">
					<div class="container">
						<div id="slide3" class="masonry">
							<div class="post-box3 col-lg-4 col-md-4 col-sm-4">
                <p>かかかか</p>
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
                  <p>聞き聞き</p>
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
                  <p>クククく</p>
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
                  <p>けけけけ</p>
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
                  <p>ここここ</p>
						    </div>
						    <div class="post-box3 col-lg-4 col-md-4 col-sm-4">
                  <p>ささささ</p>
						    </div>
						</div>
					</div>
				</div>-->

			</div>
		</div>
		</div>
<%= link_to "トップ画面にもどる", root_path %>
