<!--<div class="container">-->
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <div class="container-child col-md-4 col-sm-6 col-xs-6 ">
        <!-- class名 Class名と設定することができる-->
        <div class="container-fluid bg-info users_pictures_margin"><br>
          <!--<div class="gallery">-->
            <%= link_to profile_img(user), user_path(user),:class => "card-img-top", :alt => "Card image cap" %>
                <h4 class="card-title"><%= user.email %></h4>
                <% if user.id != current_user.id %>
                    <div class="item">
                      <%= link_to user.name, user %>
                      <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
                    </div>
                    <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
                <% end %>
          <!--</div>-->
        </div>
      </div>
 <% end %>
<!--</div>-->
<%= link_to "トップ画面にもどる", root_path %>
