<div class="container">
  <h2>ユーザー</h2>
  <% @users.each do |user| %>
      <!--<div class="container-child col-md-4 col-sm-6 col-xs-6 ">-->
      <div class="col-md-4 col-sm-6 col-xs-6">
        <div class="container-fluid bg-info"><br>
          <!--<div class="card">-->
          <!--  <%= link_to profile_img(user), user_path(user),:class => "card-img-top", :alt => "Card image cap" %>-->
            <%= link_to profile_img(user), user_path(user)%>

              <!--<div class="card-block">-->
                <!--<h4 class="card-title"><%= user.email %></h4>-->
                <%= user.email %>

                <%= link_to user.name, user %>
                <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>

                
                <%= render 'follow_form', user: user %>
          <!--</div>-->
        </div>
      </div>


      <!--<% if user.id != current_user.id %>-->
        <!--<li>->>
          <!--<div class="item">-->
            <!--<%= link_to user.name, user %>
            <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
          <!--</div>-->
          <!--<%= render partial: 'follow_form', locals: { user: user } if signed_in? %>-->
        <!--</li>-->
      <!--<% end %>-->
  <% end %>
</div>
<%= link_to "トップ画面にもどる", root_path %>
