<div class="container">
	<% @users.each_slice(3) do |slice| %>
  <div class="gallery">
    <% slice.each do |user| %>
      <div class="container-child col-md-4 col-sm-6 col-xs-6 ">
      <%= link_to profile_img(user), user_path(user) %>
        <h4><%= user.email %></h4>
        <% if user.id != current_user.id %>
            <div class="item">
              <%= link_to user.name, user %>
              <%= link_to 'メッセージ', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
            </div>
            <%= render partial: 'follow_form', locals: { user: user } if signed_in?   %>
        <% end %><br>
      </div>
      <% end %>
    </div>
	<% end %>
</div>
